# Dependencies
node_modules/

# Build outputs
dist/
out/
release/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Electron
*.dmg
*.exe
*.msi

# Prisma
packages/prisma/migrations/**/migration_lock.toml

# Test
coverage/
